<div class="perso-description" style="">
	<h2 style="font-size: 3rem; margin-bottom: 2rem">
		Having allergies and food intolerance is a pain when it's shopping time
	</h2>
	<div style="line-height: 3rem">
		<p>
			You have to check every label, every ingredient, every time. It's time
			consuming and stressful. But it's also necessary to avoid any health
			issue. That's why we created
			<strong>{{ site.app_name }}</strong>.
		</p>
		<p>
			<strong>{{ site.app_name }}</strong> is a mobile app that helps you to
			quickly check if a product is safe for you. Just scan the barcode of the
			product and the app will tell you if it's safe for you or not*.
		</p>
		<p>
			<strong>{{ site.app_name }}</strong> is available on the Apple App Store
			and the Google Play Store.
		</p>
	</div>
</div>
