<div class="perso-faq" style="margin-bottom: 2rem">
  <hr style="margin: 30px;" />
	<h2 style="font-size: 3rem; margin-bottom: 2rem">
		All your questions answered.
	</h2>
  <div style="line-height: 3rem">
    <!--  -->
    <p class="faq-paragraph faq-paragrah-title">
      <strong>What is {{ site.app_name }}?</strong>
    </p>
    <p class="faq-paragraph faq-paragraph-answer">
      {{ site.app_name }} is a mobile app that helps you to quickly check if a product is safe for you. Just scan the barcode of the product and the app will tell you if it's safe for you or not*.
    </p>
    <!--  -->

    <p class="faq-paragraph faq-paragrah-title">
      <strong>How does {{ site.app_name }} work?</strong>
    </p>
    <p class="faq-paragraph faq-paragraph-answer">
      Bokha is based on the Open Food Facts database. When you scan a product, the app checks the ingredients of the product against your allergens and intolerances. If the product contains one of your allergens or intolerances, the app will tell you that the product is not safe for you.
    </p>
<!--  -->
    <p class="faq-paragraph faq-paragrah-title">
      <strong>Is Bokha free?</strong>
    </p>
    <p class="faq-paragraph faq-paragraph-answer">
      Yes, {{ site.app_name }} is free to use, although you can unlock additional features with a one-time payment.
    </p>
<!--  -->
    <p class="faq-paragraph" faq-paragrah-title>
      <strong>Is Bokha available on the <a href="https://apps.apple.com/us/app/bokha-product-scanner/id1628130548" target="_blank">Apple App Store</a> and the <a href="https://play.google.com/store/apps/details?id=com.gsy.scallergy" target="_blank">Google Play Store</a>?</strong>
    </p>
    <p class="faq-paragraph faq-paragraph-answer">
      Yes, Bokha is available on the Apple App Store and the Google Play Store.
    </p>
    <!--  -->
    <p class="faq-paragraph faq-paragrah-title">
      <strong>Is Bokha accurate?</strong>
    </p>
    <p class="faq-paragraph faq-paragraph-answer">
      {{ site.app_name }} is based on the Open Food Facts database, which is an open database. Therefore, the accuracy of the app depends on the accuracy of the Open Food Facts database.
    </p>
    <!--  -->
    <p class="faq-paragraph faq-paragrah-title">
      <strong>Can I use Bokha if my allergies are life threatening?</strong>
    </p>
    <p class="faq-paragraph faq-paragraph-answer">
      If you have life threatening allergies, you <strong>should not</strong> rely solely on the app to check if a product is safe for you. Always double check the label of the product.
    </p>
</div>
