<div class="perso-faq" style="margin-bottom: 2rem">
	<h2 style="font-size: 3rem; margin-bottom: 2rem">
		All your questions answered.
	</h2>
  <div style="line-height: 3rem">
    <!--  -->
    <p class="faq-paragraph">
      <strong>What is {{ site.app_name }}?</strong>
    </p>
    <p class="faq-paragraph">
      {{ site.app_name }} is a mobile app that helps you to quickly check if a product is safe for you. Just scan the barcode of the product and the app will tell you if it's safe for you or not*.
    </p>
    <!--  -->

    <p class="faq-paragraph">
      <strong>How does {{ site.app_name }} work?</strong>
    </p>
    <p class="faq-paragraph">
      Bokha is based on the Open Food Facts database. When you scan a product, the app checks the ingredients of the product against your allergens and intolerances. If the product contains one of your allergens or intolerances, the app will tell you that the product is not safe for you.
    </p>
<!--  -->
    <p class="faq-paragraph">
      <strong>Is Bokha free?</strong>
    </p>
    <p class="faq-paragraph">
      Yes, {{ site.app_name }} is free to use, although you can unlock additional features with a one-time payment.
    </p>
<!--  -->
    <p class="faq-paragraph">
      <strong>Is Bokha available on the Apple App Store and the Google Play Store?</strong>
    </p>
    <p class="faq-paragraph">
      Yes, Bokha is available on the Apple App Store and the Google Play Store.
    </p>
    <!--  -->
    <p class="faq-paragraph">
      <strong>Is Bokha accurate?</strong>
    </p>
    <p class="faq-paragraph">
      {{ site.app_name }} is based on the Open Food Facts database, which is an open database. Therefore, the accuracy of the app depends on the accuracy of the Open Food Facts database.
    </p>
    <!--  -->
    <p class="faq-paragraph">
      <strong>Can I use Bokha if my allergies are life threatening?</strong>
    </p>
    <p class="faq-paragraph">
      If you have life threatening allergies, you <strong>should not</strong> rely solely on the app to check if a product is safe for you. Always double check the label of the product.
    </p>
</div>
