<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <base target="_blank">

  <title class="pageTitle">{{ site.page_title }}</title>
  <meta name="description" content="{{ site.app_description }}">
  <meta name="apple-itunes-app" content="app-id=1628130548">

  <link rel="shortcut icon" href="{{ site.app_icon }}">

  <!-- Smart App Banner -->
  {% if site.enable_smart_app_banner %}
  <meta name="apple-itunes-app" content="app-id={{ site.ios_app_id }}">
  {% endif %}

  <!-- <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@sooseeapp">
  <meta name="twitter:title" content="Soosee: Quickly scan ingredient labels.">
  <meta name="twitter:description" content="Easily check for allergens and intolerances in less than a second.">
  <meta name="twitter:image" content="https://focusedwork.app/assets/headerimage.jpg"> -->

  <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous"> -->
  <script src="https://kit.fontawesome.com/e78cd39510.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/main.css">
  <link rel="stylesheet" href="main.css">
  <link rel="stylesheet" href="../main.css">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-167763723-1"></script> -->
  <!-- <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-167763723-1');
  </script> -->


</head>